{
  "type": "service_account",
  "project_id": "REPLACE THIS FILE WITH YOURS",
  "private_key_id": "REPLACE THIS FILE WITH YOURS",
  "private_key": "REPLACE THIS FILE WITH YOURS",
  "client_email": "REPLACE THIS FILE WITH YOURS",
  "client_id": "REPLACE THIS FILE WITH YOURS",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "REPLACE THIS FILE WITH YOURS"
}
